.rhs{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
   
    height: 120vh;
    overflow-y:scroll ;
   
}
.lhs{
    display: flex;
    flex:2.5;
   
}
.CC{ 
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 90%;
    margin:10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #cccccc;
}
.SelectedState{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    width: 90%;
    margin:10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #cccccc;
}

.mainContainer{
    display: flex;
    flex-direction: row;

}

@media(max-width:1100px){
.mainContainer{
    display: flex;
    flex-direction: column;
    

}
.video-responsive{
    width:100
}
}