.outerDiv{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 20px 20px;
    max-width: fit-content;
    text-align: center;
    max-width: 200px;
}

.title{
    font-size: 20px;
    font-weight: 400;
}
.outermost{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 20px;
}